$main-text : #E0E0E0;


.header-container {
    position: relative;
    // border: 1px solid teal; 
      overflow: hidden; 
    .header-menu{
        position: absolute;
        left: 10px;
        top: 100px;
        letter-spacing: 1px;
        font-family: "Syncopate", sans-serif;
        color: $main-text;
        text-transform: uppercase;

        p{
            margin: 10px 0;
            text-decoration: none;
        }

    }

    #header-text{
        margin: 80px;
        font-size: 14vw;
        text-transform: uppercase;
        text-align: center;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 600;
        color: $main-text;
        overflow: hidden;
    }
}
